@font-face {
    font-family: "main폰트";
    src: url(./VinetaRg.ttf);
}
@font-face {
    font-family: "나눔스퀘어 light";
    src: url(./NanumSquareL.ttf);
}
@font-face {
    font-family: 'sb';
    src: url(./SB\ 어그로\ B.ttf);
}
